@model SmallEnergy.Models.AllUsers;
@{
}

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Maria</td>
        <td>Anders</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Francisco</td>
        <td>Chang</td>
    </tr>
</table>
