@{
	ViewData["Title"] = "Analytics";
}

<div class="card">
	<div class="card-header">
		Analytics Panel
	</div>
	<div class="card-content">
		<a class="button primary" asp-controller="Analytic" asp-action="ShowAllSearches">View All Users</a>
	</div>
</div>