@page
@model SmallWebEnegy.Pages.Error404Model
@{
    ViewData["Title"] = "Unknown Page";

}

<h1 class="not-found-title">404</h1>
<h2 class="not-found-message">The page you are trying to reach was not found.</h2>

<a class="" asp-page="/index">Return to home page</a>