@model SmallEnergy.Controllers.AuthController.LogInViewModel;
@{
	ViewData["Title"] = "Login";
}

@if (!Model.loggedIn)
{
	<form asp-controller="Auth" asp-action="Login" method="post">
		<div class="card">
			<div class="card-header">
				Login
			</div>
			<div class="card-content">
				<div class="card-content-form">
					<div>
						<label for="username">Username</label>
						<input type="text" name="username" class="input" />
					</div>
					<div>
						<label for="password">Password</label>
						<input type="password" name="password" class="input" />
					</div>
					@if (Model.failedText != string.Empty)
					{
						<label>@Model.failedText</label>
					}
				</div>
			</div>
			<div class="card-actions">
				<button type="submit" class="button success">Login</button>
			</div>
		</div>
	</form>
}
else
{
	<form asp-controller="Auth" asp-action="Logout" method="post">
		<div class="card">
			<div class="card-header">
				You are logged in.
			</div>			
			<div class="card-actions">
				<button type="submit" class="button success">Logout</button>
			</div>
		</div>
	</form>
}
