@{
	ViewData["Title"] = "Login";
}

<form asp-controller="Auth" asp-action="Login" method="post">
	<section class="centergroup">
		<h1 class="display-4">Please sign in</h1>
		<input type="text" placeholder="Username" />
		<input type="password" placeholder="Password" />
	</section>
	<button>Sign in</button>
</form>
<a asp-controller="Auth" asp-action="CreateAccount"><p>Dont have a user? Create account</p></a>
