@{
    ViewData["Title"] = "Home page";
}

<section class="centergroup">
    <article class="textblock">
        <h1 class="display-4" style="font-weight: 900;">The WAVE</h1>
        <blockquote>Military tactics are like unto water, for water, in its natural course, runs away from high places, and hastens downwards.</blockquote>
    </article>
    <section class="imagegrid">
        <img src="~/images/1.webp" alt="Alternate Text" />
        <img src="~/images/2.webp" alt="Alternate Text" />
        <img src="~/images/3.webp" alt="Alternate Text" />
        <img src="~/images/4.webp" alt="Alternate Text" />
    </section>
</section>



