@{
    ViewData["Title"] = "Home page";
}

<section class="centergroup">
    <h1 class="display-4">Velkommen</h1>
    <p>Marketing 101</p>
    <section class="imagegrid">
        <img src="~/images/1.webp" alt="Alternate Text" />
        <img src="~/images/2.webp" alt="Alternate Text" />
        <img src="~/images/3.webp" alt="Alternate Text" />
        <img src="~/images/4.webp" alt="Alternate Text" />
    </section>
</section>
