@{
    ViewData["Title"] = "Login";
}

<section class="centergroup">
    <h1 class="display-4">Create a new account</h1>
    <input type="text" placeholder="Username"/>
    <input type="password" placeholder="Password" />
</section>
<button>Create account</button>
